In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression as LinearR 
from sklearn.metrics import mean_squared_error as MSE 
from sklearn.metrics import r2_score as R2
from scipy.stats import gaussian_kde

from matplotlib import rcParams
rcParams['font.family'] = 'sans-serif'
rcParams['font.sans-serif'] = ['Arial']
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
site_1 = pd.read_csv('/Users/csuen/Downloads/site 2019.08.01.csv')
site_2 = pd.read_csv('/Users/csuen/Downloads/site 2022.02.13.csv')

In [4]:
list(site_1)

['监测点编码', '监测点名称', '城市', '经度', '纬度']

In [6]:
site_2019 = site_1.merge(site_2, how='left', left_on=['监测点编码'], right_on=['监测点编码'])
site_2019

,监测点编码,监测点名称_x,城市_x,经度_x,纬度_x,监测点名称_y,城市_y,经度_y,纬度_y,对照点
0,1001A,万寿西宫,北京,116.3660,39.8673,万寿西宫,北京,116.3621,39.8784,N
1,1002A,定陵,北京,116.1700,40.2865,定陵(对照点),北京,116.2202,40.2915,Y
2,1003A,东四,北京,116.4340,39.9522,东四,北京,116.4174,39.9289,N
3,1004A,天坛,北京,116.4340,39.8745,天坛,北京,116.4072,39.8863,N
4,1005A,农展馆,北京,116.4730,39.9716,农展馆,北京,116.462,39.9365,N
...,...,...,...,...,...,...,...,...,...,...
1628,3208A,市政府(20190313启用),忻州,112.7283,38.4153,市政府,忻州,112.7283,38.4153,N
1629,3207A,市政府原办公楼(20190308启用),滁州,118.3117,32.3039,市政府原办公楼,滁州,118.3118,32.3038,N
1630,3209A,宁德一中(20190319启用),宁德,119.5228,26.6564,宁德一中,宁德,119.5231,26.6562,N
1631,3210A,汴京公园(20190322启用),开封,114.3644,34.7964,汴京公园,开封,114.3644,34.7964,N
1632,3216A,漳州党校(20190503启用),漳州,114.6622,24.5183,漳州党校,漳州,114.6622,24.5183,N

In [7]:
site_2019.to_csv('/Users/csuen/Desktop/Sun-LRH-22/nat.sus.R1/analysis/site-2019.csv', index=False)

In [32]:
site = pd.read_csv('/Users/csuen/Desktop/Sun-LRH-22/nat.sus.R1/analysis/site-2019.csv')
list(site)

['监测点编码', '经度', '纬度', '对照点', '经度1', '纬度1', '经度5', '纬度5']

In [33]:
site

      监测点编码        经度       纬度 对照点    经度1   纬度1    经度5   纬度5
0     1001A  116.3621  39.8784   N  116.4  39.9  116.5  40.0
1     1002A  116.2202  40.2915   Y  116.2  40.3  116.0  40.5
2     1003A  116.4174  39.9289   N  116.4  39.9  116.5  40.0
3     1004A  116.4072  39.8863   N  116.4  39.9  116.5  40.0
4     1005A  116.4620  39.9365   N  116.5  39.9  116.5  40.0
...     ...       ...      ...  ..    ...   ...    ...   ...
1616  3207A  118.3118  32.3038   N  118.3  32.3  118.5  32.5
1617  3208A  112.7283  38.4153   N  112.7  38.4  112.5  38.5
1618  3209A  119.5231  26.6562   N  119.5  26.7  119.5  26.5
1619  3210A  114.3644  34.7964   N  114.4  34.8  114.5  35.0
1620  3216A  114.6622  24.5183   N  114.7  24.5  114.5  24.5

[1621 rows x 8 columns]

In [34]:
site['位置1']=site['经度1']*1000+site['纬度1']
site['位置2']=site['经度5']*1000+site['纬度5']

In [35]:
site_urban = site[site['对照点']=="N"]
site_rural = site[site['对照点']=="Y"]

In [39]:
site_urban = site_urban.drop(['对照点'], axis=1)

In [40]:
site_rural = site_rural.drop(['对照点'], axis=1)

In [41]:
site_urban.to_csv('/Users/csuen/Desktop/Sun-LRH-22/nat.sus.R1/analysis/site-urban-2019.csv', index=False)
site_rural.to_csv('/Users/csuen/Desktop/Sun-LRH-22/nat.sus.R1/analysis/site-rural-2019.csv', index=False)

In [42]:
site_urban

      监测点编码        经度       纬度    经度1   纬度1    经度5   纬度5       位置1       位置2
0     1001A  116.3621  39.8784  116.4  39.9  116.5  40.0  116439.9  116540.0
2     1003A  116.4174  39.9289  116.4  39.9  116.5  40.0  116439.9  116540.0
3     1004A  116.4072  39.8863  116.4  39.9  116.5  40.0  116439.9  116540.0
4     1005A  116.4620  39.9365  116.5  39.9  116.5  40.0  116539.9  116540.0
5     1006A  116.3392  39.9295  116.3  39.9  116.5  40.0  116339.9  116540.0
...     ...       ...      ...    ...   ...    ...   ...       ...       ...
1616  3207A  118.3118  32.3038  118.3  32.3  118.5  32.5  118332.3  118532.5
1617  3208A  112.7283  38.4153  112.7  38.4  112.5  38.5  112738.4  112538.5
1618  3209A  119.5231  26.6562  119.5  26.7  119.5  26.5  119526.7  119526.5
1619  3210A  114.3644  34.7964  114.4  34.8  114.5  35.0  114434.8  114535.0
1620  3216A  114.6622  24.5183  114.7  24.5  114.5  24.5  114724.5  114524.5

[1376 rows x 9 columns]